/* universal styles */
html {
  box-sizing: border-box;
}
*,*:before, *:after {
  box-sizing: inherit;
}

div {
  border: 1px solid black
}
html {
  font-family: "Montserrat", "Helvetica", sans-serif;
  font-size: 24px;
}

h1 {
  font-family: "Roboto";
  font-size: 1.5rem;
  font-weight: bold;
}

h2 {
  font-family: "Roboto";
  font-size: 1.2rem;
  font-weight: bold;
}

h3, p{
  font-size: 0.8rem;
  line-height: 1.4;
}

h4 {
  font-size: 0.6rem;
}

a {
  text-decoration: none;
  font-family: "Roboto";
  font-size: 0.8rem;
}

.container {

  width: 100%;
  max-height: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.sixty-forty-container {
  display: flex;
  align-items: center;
}

.sixty {
  height: 100%;
  width: 60%;
  padding: 32px 24px 32px 24px;
}

.forty {
  width: 40%;
  height: 100%;
  padding-left: 16px;
}

.image-container {
  overflow: hidden;
}

img {
  max-width: 100%;
  max-height: 100%;

}

/* header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
  height: 40px;
  padding-left: 24px;
}
.logo img {
/*  height: 4rem;*/

}
.colmar {
  color: darkgrey;
  font-weight: bold;
}

nav {
  display: inline-block;
  padding-right: 24px;
}

nav a {
  padding-left: 16px;

}

/* banner section */
.banner {
  background-color: silver;
  position: relative;
  top: 64px;

}

.banner .text-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  padding-top: 32px;

}
.button {

  text-align: center;
  color: white;
  background-color: black;
  padding: 8px 0 8px 0;
  margin: 24px 0 24px 0;
  width: 80%;
}

.banner h1 {
  font-size: 2rem;
  padding-bottom: 24px;
}
/* information section */
.info {
  margin-top: 24px;

}
.info .text-content h1 {
  margin-top: 32px;
  margin-bottom: 24px;
}

.info .text-content h3 {
  margin-top: 34px;
}

.info-bite {
  display: flex;
  align-items: center;
  /*padding-top: 16px;*/
  margin-top: 32px;
}

.info-bite .image {
  width: 35%;
  margin-right: 16px;
  min-width: 90px;
}
.info-bite .content {
  width: 65%;
}

.info-bite h3 {
  padding-top: 8px;
  padding-bottom: 8px;
}
/* courses section */
.courses {
    background-color: silver;
}
.courses h1, .theses h1 {
  text-align: center;
  padding: 32px 0 32px 0;
}
.courses-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.course {
  width: 30%;
  background-color: white;
  margin: 0px 16px 32px 16px;
}

.course .text-content {
  padding-top: 16px;
  padding-bottom: 24px;
}

.course h2, .course h3, .course p{
  padding: 8px 8px 8px 16px;

}

/* thesis section */
video {
  width: 100%;
  height: auto;
}
/*.theses .forty {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}*/

.theses .text-content h2 {

  padding-top: 24px;
  padding-bottom: 8px;
}

/*.forty .thesis-example {
  align-items: flex-start;
}*/

.thesis-example {
  display: flex;
  align-items: center;
  padding-bottom: 16px;

}

.thesis-example .image {
  height: auto;
  width: 35%;
  min-width: 90px;
}

.thesis-example .text-content {
  width: 65%;
  margin-left: 16px;
  padding-right: 32px;

}
/* footer */
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
}

footer a {

  font-size: 0.6rem;
}
