/* universal styles */
html {
  box-sizing: border-box;
}
*,*:before, *:after {
  box-sizing: inherit;
}

div {
  border: 1px solid black
}
html {
  font-family: "Helvetica", sans-serif;
  font-size: 20px;
}

h1 {
  font-size: 32px;
  font-weight: bold;
}

.container {

  max-width: 100%;
  width: 960px;
  margin: 0 auto;
}

.sixty-forty-container {
  display: flex;
  align-items: center;
}

.sixty {
  width: 60%;
  padding: 32px 24px 32px 24px;
}

.forty {
  width: 40%;
  padding: 16px;
}

.image-container {
  overflow: hidden;
}

img {
  max-width: 100%;
  max-height: 100%;
}

/* header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
  height: 32px;
  padding-left: 24px;
}

.colmar {
  color: darkgrey;
  font-weight: bold;
}

nav {
  display: inline-block;
  padding-right: 24px;
}

nav a {
  padding-left: 16px;
  text-decoration: none;
}

/* banner section */
.banner {
  background-color: silver;
  position: relative;
  top: 64px;

}
.button {
  text-align: center;
  color: white;
  background-color: black;
  padding: 8px 0 8px 0;
  margin: 24px;
}

/*.banner h1, h2 {
  padding: 24px;
}*/
/* information section */
.info-bite  {
  display: flex;
  align-items: center;
}

.info-bite .image {

  width: auto;
  padding: 2%;
}
.info-bite .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 65%;
}
/* courses section */
.courses-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.course {
  width: 30%;
}
/* thesis section */

/* footer */
